@import "fonts";
@import "colors";
@import "shadows";
@import "base";
@import "typography";
@import "card";
@import "buttons";

/* Static Page fixes
    ================================---------- */

section.contents, article.padded-container, .non-article-content {
    height: 100% !important;
}

/* Global Layout Styles
   ========================================================================== */
article * {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

p{
	margin: 0;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background: #000;
	color: #FFFFFF;
	display: block;
	font-family: "Futura Today Bold", Arial,sans-serif;
	font-size: 100%;
	height: 100%;
	line-height: 1.4;
	margin: 0px;
	min-height: 539px;
	overflow: hidden;
	padding: 0px;
	position: relative;
	width: 100%;
}

#header {
	left: 0px;
	position: fixed;
	top: 0px;
	z-index: 4;
}

.page-container {
	/*background-image: url(../img/crowd.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	right: 0;
	top: 0;
}

/* Input Text styles
   ========================================================================== */

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.7);
}

/* Spelling form styles
   ========================================================================== */

.section {
	/*background-color: white;*/
	left: 50%;
	position: absolute;
    transform: translate(-50%, -50%);
	top: 50%;
	width: 90%;
	z-index: 5;
    transition: transform .5s ease;
}


.correct {
	color: rgb(255, 255, 255);
	padding: 1em;
}

.correct h2 {
	font-size: 5em;
	margin: 0 auto;
	text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}

.correct h3 {
	font-size: 3em;
	margin: 0 auto .25em auto;
	text-align: center;
	text-transform: uppercase;
}

.audio-buttons {
	margin: 0 auto;
	width: 80%;
}


.audio-button {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000000;
	font-size: 1.5em;
	margin: 0 1%;
    transition: all .5s ease;
	width: 30%;
}

.audio-button:hover {
	background-color: rgba(255, 255, 255, 1);
    transition: all .5s ease;
}

.button {
	display: inline-block;
	padding: .5em;
	text-align: center;
	text-transform: uppercase;
}

.button:hover {
	cursor: pointer;
}

.large-button {
	background: #009bff;
	color: #ffffff;
	display: block;
	font-size: 2em;
	margin: 1em auto;
    transition: all .5s ease;
	width: 6em;
}

.large-button:hover {
	background: rgba(255, 255, 255, 1);
	color: #009bff;
    transition: all .5s ease;
}

.word-button {
	background-color: #009bff;
	color: #ffffff;
	display: block;
	font-size: 2em;
	margin: 1em auto;
    transition: all .5s ease;
	width: 17em;
}

.word-button:hover {
	background: rgba(255, 255, 255, 1);
	color: #009bff;
    transition: all .5s ease;
}

.word-input {
	background: rgba(0, 0, 0, 0);
	border: solid 4px rgba(255, 255, 255, 0.5);
	border-radius: 0;
	color: #ffffff;
	display: block;
	font-size: 4em;
	font-family: "Futura Today Bold", Arial,sans-serif;
	margin: .5em auto;
	max-width: 13em;
	padding: .25em;
	text-transform: uppercase;
    transition: border .5s ease;
    text-align: center;
	width: 100%;
}

textarea, input { outline: none; }


.section.hide {
    transform: translate(-50%, 400%);
}

.word-input:focus {
    transition: border .5s ease;
    border: solid 4px #009bff;
}

/* Results section styles
   ========================================================================== */
.share {
	float: left;
	margin-left: 1em;
	width: 45%;
}

.correct.wrong .share {
	display: block;
	float: none;
	margin: .5em auto 0 auto;
	width: 240px;
}

.social {
	display: inline-block;
	float: left;
	margin-right: .25em;
	width: 4.7em;
}

.spelling-button {
	background: #009bff;
	color: #ffffff;
	display: none;
	font-size: 2em;
	float: left;
	margin-right: .5em;
    transition: all .5s ease;
	width: 10em;
}

.correct.wrong .spelling-button {
	display: inline;
}

.spelling-button:hover {
	background: rgba(255, 255, 255, 1);
	color: #009bff;
    transition: all .5s ease;
}


.next-button {
	background: #009bff;
	color: #ffffff;
	display: none;
	font-size: 2em;
	float: right;
    transition: all .5s ease;
	width: 10em;
}

.next-button.show{
	display: inline;
}

.correct.wrong .next-button {
	float: left;
}

.next-button:hover{
	background: rgba(255, 255, 255, 1);
	color: #009bff;
    transition: all .5s ease;
}

.correct.wrong .result-buttons {
	display: block;
	float: none;
	margin: 0 auto;
	width: 672px;
}

.result-buttons {
	display: inline-block;
	float: left;
	width: 50%;
}


/* Video styles
   ========================================================================== */


video {
    margin: auto 0;
    min-height: 100%;
    min-width: 100%;
    height: auto !important;
    overflow: hidden;
	position: relative;
    vertical-align: middle;
}

html.vert-display video {
    margin: 0 auto;
    width: auto !important;
    height: 100% !important;
    text-align: center;
    vertical-align: middle;
}

.bgvideo {
	display: none;
}

.bgvideo.play {
	display: block;
}


html.touch video {
	display: none !important;
}

html.touch .page-container {
	background-image: url(http://www.gannett-cdn.com/experiments/usatoday/2015/05/spelling-bee/img/still.png);
}

html.touch .next-button {
	display: inline-block;
}

/* Intro styles
   ========================================================================== */

	.intro-container {
		width: 75%;
		// left: 12.5%;
	}

   .intro-title {
	   	border: solid 4px #ffffff;
		font-size: 5em;
		margin: 0 auto;
		text-transform: uppercase;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
		text-align: center;
   }

   .intro-sub {
   		font-size: 2em;
   		margin: .5em auto;
   		text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
   		text-transform: uppercase;
   }
@media (max-width: 980px){
	.intro-title {
		font-size: 4em;
	}
}

@media (max-width: 850px) {
    .audio-button {
		font-size: 1em;
	}
	.word-input {
		font-size: 1.2em;
	}
	.button{
		font-size: 1em;
	}

	.audio-button {
		display: block;
		margin: 0 auto 1em auto;
		width: 90%;
	}

	.audio-buttons {
		width: 100%;
	}

	.word-button {
		width: 90%;
	}

	.word-input {
		font-size: 3em;
		margin: 1em 0;
		max-width: 100%;
	}

	.share, .correct.wrong .share{
		display: block;
		float: none;
		margin: 0 auto;
		width: 14em;

	}

	.social {
		float: none;
		width: 4em;
	}

	html.touch .correct.wrong .next-button, .correct.wrong .next-button.show, .next-button.show, .correct.wrong .spelling-button {
		display: block;
		float: none;
		margin: 0 auto .5em auto;
	}

	 .intro-title {
		font-size: 3em;
	}

	.intro-sub {
		font-size: 1.5em;

	}

	.correct h2 {
		font-size: 3em;
	}

	.correct h3 {
		font-size: 2em;
	}

	.result-buttons, .correct.wrong .result-buttons {
		margin: .5em auto;
		width: 100%;
	}
}

@media (max-width: 650px) {
	.audio-button {
		font-size: 1em;
	}
	.word-input {
		font-size: 1.2em;
	}
	.button{
		font-size: 1em;
	}

	.section {
		top: 10%;
        transform: translate(-50%, 0);
	}

	 .intro-title {
		font-size: 2em;
	}

	.correct h2 {
		font-size: 2em;
	}

	.correct h3 {
		font-size: 1.5em;
	}

	.intro-sub {
		font-size: 1em;
	}

	html.touch .page-container {
		background-image: url(http://www.gannett-cdn.com/experiments/usatoday/2015/05/spelling-bee/img/still.png);
        background-color: black;
	}

	.next-button, .spelling-button {
		width: 100%;
	}
}


@media (min-width: 1100px) {
	.section {
        // left: 10%;
		width: 80%;
    }
}
